
:root {
  --green: #33C28F;
  --blue: #2E5CE5;
  --yellow: #FFBC01;
  --pink: #FF8F8F;
  --red: #D40E19;
  --orange: #FD8132;
}

.container, .container-b {
    display: flex;
    flex-direction: row;
    animation: move 80s infinite;
    animation-timing-function: linear;
    position: absolute;
}

.anim{
    animation: moveB 160s infinite;
    animation-timing-function: linear;
}

.container-b{
    left:1440px;
    animation: moveB 160s infinite;
    animation-timing-function: linear;
}

.parent{
    position: relative;
    height: 400px;
    margin-top:24px auto;
    overflow-x: hidden; 
    width: 100vw;
    max-width: 1600px;
    align-self: center;
}

.container img, .container-b img{
    width: 240px; 
}

.flip{
    transform: scaleX(-1);
}

@keyframes move {
    0% { transform: translateX(0); }
    100% { transform: translateX(-1440px); }
}

@keyframes moveB {
    0% { transform: translateX(0); }
    100% { transform: translateX(-2880px); }
}


body{
    display: flex; 
    flex-direction: column;
    margin: 0 auto;
    overflow-x: hidden; 
}

/* Link */
.prod-link{
    color: white;
    padding: 12px 12px;
    font-family: sans-serif;
    margin:auto;
}

.prod-link-block{
    display: flex;
    flex-direction: column;
    position: absolute;
}

.nav-line{
    height: 40px; 
    background: rgba(0, 0, 0, 0.05); 
    position: absolute; 
    top:60px;
    width: 100vw; 
    z-index: -1;
}

.tile-label{
    /* position: absolute;  */
    display: block; 
    margin: auto;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: center;
}

.tile-container{
    position: relative; 
    display: flex;
    height: 280px;
}

.tile-col{
    height: 1144px;
    display: flex; 
    flex-direction: column;
    width: 304px;
}

.tile-container img{
    /* right: 0px; */
    position: absolute;
    z-index: -3;
}
