
.container, .container-b {
    display: flex;
    flex-direction: row;
    animation: move 80s infinite;
    animation-timing-function: linear;
    position: absolute;
}

.anim{
    animation: moveB 160s infinite;
    animation-timing-function: linear;
}

.container-b{
    left:1440px;
    animation: moveB 160s infinite;
    animation-timing-function: linear;
}

.parent{
    position: relative;
    height: 394px;
    margin-top:24px auto;
    overflow-x: hidden; 
    width: 100vw;
    max-width: 1600px;
    align-self: center;
}

.container img, .container-b img{
    width: 240px; 
}

.flip{
    transform: scaleX(-1);
}

@keyframes move {
    0% { transform: translateX(0); }
    100% { transform: translateX(-1440px); }
}

@keyframes moveB {
    0% { transform: translateX(0); }
    100% { transform: translateX(-2880px); }
}


body{
    display: flex; 
    flex-direction: column;
    margin: 0 auto;
    overflow-x: hidden; 
}

